:root {
	--main-font: 'Courier New', Courier, monospace;
}

body {
	font-style: italic;
	font-weight: bold;
	font-family: var(--main-font);
	margin: 0px;
	padding: 0px;


	& .basic-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 160px;

		& h2.domain-header {
			display: none;
			align-self: flex-start;
			margin-left: 15px;

			font-size: medium;

			& a {
				position: relative;
				color: black;
				text-decoration: none;
			}

			& a::after {
				content: "";
				position: absolute;
				left: -8px;
				right: -8px;
				bottom: -0.01em;
				height: 5px;
				background: linear-gradient(135deg, transparent, #0000d5ff, purple, transparent);
				z-index: -1;
				opacity: 0.9;
				border-radius: 10px;
			}

			a.dark {
				color: grey;
			}
		}

		& .main-div {
			display: flex;
			flex-direction: column;
			width: clamp(150px, 80vw, 1500px);
			background-color: rgba(250, 250, 250, 0.1);
			border-radius: 3px;
			backdrop-filter: blur(5px);

			& aside {
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;

				& h1 {
					margin-left: 15px;
			
					font-size: larger;

					& a {
						text-decoration: none;
						display: inline-block;
						line-height: 1.3;
						padding: 0.3em;
						background: linear-gradient(to right, #0000d5ff, purple);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						filter: drop-shadow(1px 1px 1px black);
					}
				}

				& .theme {
					display: flex;
					align-self: flex-end;
					margin-right: 5px;
					padding: 5px;
					padding-bottom: 0px;

					background-color: rgb(0, 0, 0);
					border-radius: 5px;
					color: white; /* logo color */
					font-family: fantasy;
				}

				& .theme.dark {
					background-color: white;
					color: black;
				}

				& .accessibility {
					display: flex;
					align-self: flex-end;
					align-items: center;
					margin-right: 5px;
					margin-top: 10px;

					color: purple; 
					font-size: 25px;
					filter: drop-shadow(1px 1px 1px black);
				}

				& .accessibility.dark {
					filter: drop-shadow(2px 2px 2px black);
				}

			}

			& nav {
				display: flex;
				justify-content: center;
				background: linear-gradient(
					90deg, transparent, purple, transparent
				);


				& ul {
					list-style: none;
					margin: clamp(10px, 2vw, 50px);
					margin-bottom: 5px;
					padding: 0px;
				}

				& ul li {
					display: flex;
					justify-content: center;
				}

				& ul li a {
					color: black;
					text-decoration: none;
				}
			}

			& main{
				display: flex;
				flex-direction: column;

				& .logo {
					display: none;
					justify-content: center;
					margin: 10px;
					border-radius: clamp(150px, 40vw, 400px);
					background: radial-gradient(
						circle,
						purple 0%,
						transparent 50%
					);
					filter: drop-shadow(1px 1px 1px black);
					
					& img {
						width: clamp(150px, 40vw, 400px);
					}
				}

				& article {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					padding: 20px;
					text-align: center;
				}

				& article.dark {
					color: grey;
					& h3.article-header {
						color: purple;
					}
				}
			}
		}

		& details {
			display: flex;
			flex-direction: column;
			width: clamp(150px, 80vw, 1500px);
			margin-top: 15px;

			& summary {
				display: flex;
				justify-content: center;
				margin-bottom: 10px;
			}
		}

		& details.dark {
			color: grey;
			& summary {
				color: purple;
			}
		}
	}
}

body::before {
	content: "";
	position: fixed;
	inset: 5vw;
	background: url('./img/logo-full.svg') center/contain no-repeat;
	opacity: 0.1;
	z-index: -1;
	pointer-events: none; /* don't block clicks*/
}

body.dark {
	background-color: black;
}

/* for parcticles */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

@media(min-width: 350px){
	body {
		& .basic-div {
			& h2.domain-header {
				display: block;
			}
			& .main-div {
				margin-top: clamp(0px, 2vw, 40px);
				& aside {
					align-items: center;
					& h1 {
						margin-left: 0px;
					}
				}

				& nav {
					justify-content: normal;
					& ul {
						display: flex;
						flex-grow: 1;
						justify-content: space-between;
					}
				}

				& main {
					& .logo {
						display: flex;
					}
				}
			}
		}
	}
}

@media(min-width: 550px){
	body {
		& .basic-div {
			& .main-div {
				& main {
					flex-direction: row;
					& .logo {
						flex-grow: 1;
					}
					& article {
						flex-grow: 2;
					}
				}
			}
		}
	}
}